body {
    font-family: "Segoe UI", "Arial", sans-serif;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

header {
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
    background-color: #A00;
    min-height: 64px;
    line-height: 64px;
    color: white;
}

h2 {
    text-align: center;
    color: #A00;
    font-size: 18px;
    font-weight: bold;
}

a, a:visited {
    color: #A00;
}

a:hover {
    color: #F00;
}

#container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

main {
    padding: 8px;
    position: relative;
}

form  {
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    display: block;
    width: 270px;
}

form label {
    display: inline-block;
    width: 100px;
    margin-bottom: 8px;
}

form input {
    display: inline-block;
    width: 158px;
    float: right;
    margin-bottom: 8px;
    border: 1px solid black;
}

form input:focus {
    border: 1px solid #A00;
}

form input[type=submit] {
    display: block;
    width: 100%;
    height: 32px;
    border: none;
    color: white;
    background: #A00;
    text-align: center;
    font-weight: bold;
}

form p.form-links span {
    display: block;
    margin-bottom: 4px;
}

footer {
    font-size: 11px;
    color: gray;
    text-align: center;
    padding: 16px;
}

.search input {
    width: 100%;
}

.search a {
    margin-bottom: 8px;
    display: block;
}

.gridview {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.gridview a, .add-button {
    width: 92px;
    height: 132px;
    background-color: #A00;
    display: inline-block;
    margin-bottom: 2px;
    border: 2px solid #A00;
    position: relative;
    margin-right: 8px;
}

#add-button-mobile {
    width: 48px;
    height: 48px;
    background-color: black;
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
    position: fixed;
    line-height: 48px;
    text-align: center;
    color: white;
    transition: 0.2s bottom ease-in-out;
    border: 2px solid white;
    background-image: url("../media/add.png");
    background-repeat: no-repeat;
    background-position: center;
}

#add-button-mobile:hover {
    background-color: #A00;
}

.gridview .add-button {
    border: 2px dashed #A00;
    background-color: white;
    display: none;
    background-image: url("../media/add_big.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
}

.gridview a .gbrick-thumb {
    width: 100%;
    height: 100px;
    background-image: url("../media/brick_placeholder.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.gridview a .gbrick-sub {
    position: absolute;
    top: 100px;
    left: 0;
    color: white;
    display: inline-block;
    width: 100px;
    font-size: 16px;
}

.gbrick-thumb .gbrick-amount {
    position: absolute;
    bottom: 0px;
    padding: 5px;
    font-size: 14px;
    right: 0;
    color: #A00;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
    background-color: rgba(0, 0, 0, 0.25);
}

.gridview a .gbrick-sub:last-child {
    top: 116px;
}

.gbrick-thumb {
    background-image: url("../media/add.png");
    background-position: center;
    background-repeat: no-repeat;
}

.acitem {
    height: 32px;
    display: inline-block;
    line-height: 32px;
    padding-left: 50px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: right;
    /*overflow: hidden;*/
}

.listcategory {
    color: gray;
    font-size: 10px;
}

.popup {
    position:absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    margin-left:-150px;
    margin-top: -200px;
    background-color: lightgray;
    box-shadow: 0 0 16px 1px black;
    border: 1px solid black;
    opacity: 0.92;
}

.popup .content {
    padding: 16px;
    height: 300px;
    overflow-y: scroll;
}

.popup .header {
    background-color: #A00;
    height: 48px;
    color: white;
    line-height: 48px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-left: 8px;
}

.popup a {
    background-color: white;
    margin-left: 8px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    width: 42px;
    text-align: center;
}

input[type=checkbox]:checked + label {
    color: #A00;
    font-style: normal;
}

input[type=checkbox] + label {
    font-style: italic;
}

@media screen and (min-width: 415px) {
    .gridview .add-button {
        display: inline-block;
    }

    #add-button-mobile {
        bottom: 100%;
        right: 100%;
    }
}

@media screen and (max-width: 319px) {
    form {
        width: auto;
    }

    form label, form input {
        width: auto;
        display: block;
        float: none;
    }

    h1 {
        min-height: 48px;
        line-height: 48px;
    }

    .popup {
        position: fixed;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
        top: 0;
        left: 0;
    }
}